extends layout
block sticky
  div.filters
    div.tab Filter by:
    div.tab.tab-retailer Retailer
    div.tab.tab-date.active Date
block content
  each val, index in results
    div.delivery
      div.retailer-img
        a(href="/delivery/#{val.store}/#{val.order}")
          img(src= val.img)
      div.stats
        a(href="/delivery/#{val.store}/#{val.order}")
          p 
            span Status: 
            | #{val.status}
        a(href="/delivery/#{val.store}/#{val.order}")
          p 
            span Expected arrival: 
            | #{val.time}
        a(href="/delivery/#{val.store}/#{val.order}")
          p
            span Order No: 
            | #{val.order}