extends layout

block content
  div.row
   div.col.s12.m6

   div#container
     div.card
       div.deliveryImg
         img(src=storeImage)
       div.deliveryText
         h6 
           b Expected Arrival:
         div #{deliveryDetails}
         div
           b Order ID: #{orderId}

     div#fullpage
       div.details You can only amend or cancel your order if it is still in booked state (all of the progress bar is orange)
       each val, index in statusList
         div.section.fp-auto-height(class=val.class)
          p= val.status
          img.svg(src="/images/timeline.svg" alt="timeline")
          if val.status === 'Booked' && val.class == 'current'
            button#amendButton Amend
          else
            span
            
       div.section.final
         p
          b Order completed